<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        img {
          width: 100%;
        }
    </style>
    <title>PIDIF</title>
</head>
<body>
    <div>
        <h1>PIDIF BOOK LIBRARY</h1>
    </div>
    <div>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <!-- <label for="file">Select File</label> -->
            <input type="file" name="file" placeholder="Select File">
            <button type="submit">Upload</button>
        </form>
    </div>
</body>
</html>