<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PIDIF</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <!-- <link rel="stylesheet" href="/css/style.css" /> -->
    <style>
        .div-header div + p {
            display: flex;
        }
    </style>
  </head>
  <body>
    <div class="container home-container">
        <header class="home-header">
            <div class="div-header home-div-header">
                <div>
                    <h1><a href="/">PIDIF</a></h1>
                    <p>your personal book library</p>
                </div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur, ea possimus. Beatae doloremque iure necessitatibus libero vel.</p>
            </div>
        </header>
        <section class="image">
            <img src="/image/pidifBG.png" alt="bg image">
        </section>
        <nav class="home-nav">
            <span ><a href="/about" class="nav-btn about-btn"> About</a></span>
            <span ><a href="/login" class="nav-btn s-l-home-btn"> Login</a></span>
            <span ><a href="/signup" class="nav-btn s-l-home-btn"> Signup</a></span>
        </nav>
    </div>
<%- include('partials/footer') -%> 
