<%- include('partials/header') -%>
<div class="container">
    <header>
      <div class="div-header">
        <div>
          <h1><a href="/">PIDIF</a></h1>
          <p>your personal book library</p>
        </div>
        <!-- <div> -->
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur, ea possimus. Beatae doloremque iure necessitatibus libero vel.</p>
        <!-- </div> -->
      </div>
    </header>
    <main>
        <div class="main-div">
            <section class="login-top-section top-section">
              <h3>Welcome to PIDIF</h3>
            </section>
            <section class="login-section">
              <h1 class="s-l-text">Log In</h1>
              <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
              <div class="alert alert-danger"><%= el.msg %></div>
              <% }) %> <% } %> <% if (locals.messages.info) { %> <%
              messages.info.forEach( el => { %>
              <div class="alert alert-info"><%= el.msg %></div>
              <% }) %> <% } %>
              <form action="/login" method="POST">
                <div class="field">
                  <label for="exampleInputEmail1" class="hidden">Email address</label>
                  <input type="email" class="input-field" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Email"/>
                </div>
                <div class="field">
                  <label for="exampleInputPassword1" class="hidden">Password</label>
                  <input type="password" class="input-field" id="exampleInputPassword1" name="password" placeholder="Password"/>
                </div>
                <div class="field button">
                  <button type="submit" class="button-submit">Log In</button>
                </div>
              </form>
              <section class="login-bottom-section top-section">
              <p>Don't have an account? <a href="/signup" class="s-l-altText">Sign Up</a></p>
              </section>
            </section>
        </div>
    </main>
</div>

<%- include('partials/footer') -%>
