<%- include('partials/header') -%>
    <header>
        <div>
            <h1><a href="/profile">PIDIF</a></h1>
            <span>your personal book library</span>
        </div>
    </header>
    <div>
        <% if (!user) { %> 
            <h2>Authentication is required to access this page</h2>
            <h3>please <a href="/login">login</a></h3>
        <% } else { %> 
            <h2>
                <%= `Welcome ${user.userName}` %>
            </h2>
            <div>
                <a href="/logout">Logout</a>
            </div>
        <% } %> 
    </div>
<%- include('partials/footer') -%>